<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SkypeLogBackup.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <applicationSettings>
        <SkypeLogBackup.Properties.Settings>
            <setting name="BackupCanaryFileExtension" serializeAs="String">
                <value>.skypelogbackup</value>
            </setting>
            <setting name="ZipFileFilter" serializeAs="String">
                <value>Zip file|*.zip</value>
            </setting>
        </SkypeLogBackup.Properties.Settings>
    </applicationSettings>
</configuration>
